@page
@model PropertyManagement.Pages.Units.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<div>
    <a title="Go back to property details" asp-page="/Properties/Details" asp-route-id="@Model.Unit.PropertyId"><i class="fa-solid fa-circle-arrow-left xxx-large"></i></a>
</div>

<h1>Details</h1>

<div>
    <h4>Unit</h4>
    <hr />

     @await Html.PartialAsync("Partials/_PropertyInfoCollapsable", Model.Property)

     @await Html.PartialAsync("Partials/_UnitInfo", Model.Unit)
</div>

<div class="mt-2">
    <h3 class="flex flex-center">
        <span>Tenants</span>
        <span class="badge badge-primary span-25 ml-2">@Model.Tenant?.Count()</span>
    </h3>

    @await Html.PartialAsync("Partials/_TenantListPartial", Model.Tenant?.ToList())
</div>
