@page
@model PropertyManagement.Pages.Units.EditModel

@{
    ViewData["Title"] = "Edit";
}

<div>
    <a title="Go back to details" asp-page="/Properties/Details" asp-route-id='@Model.Unit.PropertyId'><i class="fa-solid fa-circle-arrow-left xxx-large"></i></a>
</div>

<h1>Edit Unit</h1>
<hr />

 @await Html.PartialAsync("Partials/_PropertyInfoCollapsable", Model.Property)

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Unit.Id" />
            <div class="form-group">
                <label asp-for="Unit.PropertyId" class="control-label"></label>
                <select asp-for="Unit.PropertyId" class="form-control" asp-items="ViewBag.PropertyId"></select>
                <span asp-validation-for="Unit.PropertyId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Unit.Number" class="control-label"></label>
                <input asp-for="Unit.Number" class="form-control" />
                <span asp-validation-for="Unit.Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Unit.Name" class="control-label"></label>
                <input asp-for="Unit.Name" class="form-control" />
                <span asp-validation-for="Unit.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Unit.UnitTypeId" class="control-label"></label>
                <select asp-for="Unit.UnitTypeId" class="form-control" asp-items="ViewBag.UnitTypeId"></select>
                <span asp-validation-for="Unit.UnitTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Unit.Area" class="control-label"></label>
                <input asp-for="Unit.Area" class="form-control" />
                <span asp-validation-for="Unit.Area" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Unit.NumberofRooms" class="control-label"></label>
                <input asp-for="Unit.NumberofRooms" class="form-control" />
                <span asp-validation-for="Unit.NumberofRooms" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Unit.RentAmount" class="control-label"></label>
                <input asp-for="Unit.RentAmount" class="form-control" />
                <span asp-validation-for="Unit.RentAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Unit.DepositAmount" class="control-label"></label>
                <input asp-for="Unit.DepositAmount" class="form-control" />
                <span asp-validation-for="Unit.DepositAmount" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Unit.Furnished" /> @Html.DisplayNameFor(model => model.Unit.Furnished)
                </label>
            </div>
             <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Unit.Laundry" /> @Html.DisplayNameFor(model => model.Unit.Laundry)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
