@page
@model PropertyManagement.Pages.Tenants.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<div>
    <a title="Go back to list" asp-page="./Details" asp-route-id="@Model.Tenant.Id"><i class="fa-solid fa-circle-arrow-left xxx-large"></i></a>
</div>

<h1>Delete</h1>

<h3>Deleting will remove all tenants information.</h3>
<div>
    <h4>Are you sure you want to delete this tenant?</h4>
    <hr />
     @await Html.PartialAsync("Partials/_TenantInfoCollapsable", Model.Tenant)
    <div class="row">
        <div class="col-md-12">
            <form method="post">
                <input type="hidden" asp-for="Tenant.Id" />
                <div class="form-group col-md-4 pl-0">
                    <input asp-for="TenantEmail" placeholder="Enter tenants email to delete" class="form-control" />
                    <span asp-validation-for="TenantEmail" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4 pl-0">
                    <input type="submit" value="Delete" class="btn btn-danger" />
                </div>
            </form>
        </div>
    </div>
</div>
