@page
@model PropertyManagement.Pages.Tenants.IndexModel
@{
    ViewData["Title"] = "Index";
}
<h1>Tenants</h1>
<p>
    <a asp-page="Create">
         <i class="fa-solid fa-circle-plus xxx-large"></i>
    </a>
</p>
@await Html.PartialAsync("Partials/_TenantListPartial", Model.Tenant)