@page
@model PropertyManagement.Pages.Properties.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<div>
    <a title="Go back to list" asp-page="./Details" asp-route-id="@Model.Property.Id"><i class="fa-solid fa-circle-arrow-left xxx-large"></i></a>
</div>

<h1>Delete</h1>

<h3>Deleting will remove all the Units and Tenants associated with this property.</h3>
<div>
    <h4>Are you sure you want to delete this property?</h4>
    <hr />

     @await Html.PartialAsync("Partials/_PropertyInfoCollapsable", Model.Property)

    <div class="row">
        <div class="col-md-12">
            <form method="post">
                <input type="hidden" asp-for="Property.Id" />
                <div class="form-group col-md-4 pl-0">
                   <input asp-for="PropertyName" placeholder="Enter property name to delete" class="form-control" />
                    <span asp-validation-for="PropertyName" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4 pl-0">
                    <input type="submit" value="Delete" class="btn btn-danger" />
                </div>
        </form>
        </div>
    </div>
</div>
