@page
@model PropertyManagement.Pages.Properties.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<div>
    <a title="Go back to list" asp-page="./Index"><i class="fa-solid fa-circle-arrow-left xxx-large"></i></a>
</div>

<div class="mt-2">
    <h3>Property details <a title="Edit property" class="ml-2" asp-page="./Edit" asp-route-id="@Model.Property.Id"><i class="fa-solid fa-pen-to-square larger"></i></a></h3>
    <hr />

    <div class="flex">
        <div class="w-50">
            @await Html.PartialAsync("Partials/_PropertyInfo", Model.Property)
        </div>
        <div class="w-50">
             @await Html.PartialAsync("Partials/_PropertyAdditionalInfo", Model.Property)
        </div>
    </div>
</div>

<div class="mt-2">
    <h3 class="flex">
        <span>Units</span>
        <span class="badge badge-primary span-25 ml-2">@Model.Property.Units?.Count()</span>
    </h3>
    <p>
    <a asp-page="/Units/Create" asp-route-id="@Model.Property.Id">
        <i class="fa-solid fa-circle-plus xxx-large"></i>
    </a>
    </p>

    @await Html.PartialAsync("Partials/_UnitsListPartial", Model.Property.Units?.ToList())
</div>
